@import url('./sidebar.css');

body {
    display: flex;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}


.hidden {
    display: none;
}

.content {
    margin-left: 300px;
    padding: 20px;
    /* Espaçamento interno da área de conteúdo */
    overflow-y: auto;
    /* Permite rolagem apenas no conteúdo */
    height: 100vh;
    box-sizing: border-box;
    /* Inclui padding na altura */
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

video {
    border-radius: 10px;
    width: 100%;
}

.title {
    font-family: 'Roboto', sans-serif;
    /* Escolha uma fonte elegante */
    font-size: 3rem;
    /* Tamanho do texto grande */
    font-weight: 700;
    /* Negrito */
    color: #4F46E5;
    /* Azul elegante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    text-align: center;
    /* Centraliza o texto */
    margin-top: 20px;
    /* Espaçamento superior */
    margin-bottom: 30px;
    /* Espaçamento inferior */
    letter-spacing: 1px;
    /* Espaçamento entre letras */
}

.title-container {
    width: 100%;
}
