@import url('./sidebar.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Nunito:wght@400;700&display=swap');


body {
    display: flex;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;

}

.content {
    position: absolute;
    margin-left: 300px;
    overflow-y: hidden;
    /* Espaço suficiente para não sobrepor a sidebar */
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    /* max-width: calc(90% - 340px); */
    /* Evita que o content ultrapasse a tela */
    margin-top: 10px;
    /* Eleva a apresentação */
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;

}


.title {
    font-size: 4rem;
    font-weight: 800;
    color: #e2e8f0;
    /* Cor base neutra */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    /* Espaçamento inferior */
    margin-top: 50px;
    /* Espaçamento superior */
    letter-spacing: 1.5px;
    display: inline-block;
    border-radius: 10px;
    animation: backgroundAnimation 8s infinite;
    padding: 10px 10px;

}

.title span {
    display: inline-block;
    animation: colorChange 5s infinite;
    /* Animação mais longa */
    animation-delay: calc(var(--i) * 0.9s);
    /* Atraso sequencial */
}

@keyframes backgroundAnimation {
    0% {
        background-color: #4e46e507;
    }

    25% {
        background-color: #38bff817;
    }

    50% {
        background-color: #1e40af12;
    }

    75% {
        background-color: #38bff80f;
    }

    100% {
        background-color: #4e46e50e;
    }
}

@media (max-width: 768px) {
    .title {
        display: none;
    }

    .content {
        max-width: 100%;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        align-items: center;
        justify-content: center;
    }

    .content section {
        top: 100px;

    }

    .version {
        display: none;
    }

    video {
        width: 50% !important;
        border-radius: 15px;
    }

}

@keyframes colorChange {

    0%,
    100% {
        color: #e2e8f0;

    }

    10% {

        color: #38bdf8;
    }

    20% {

        color: #48b1f3;
    }

    30% {

        color: #5ac7e5;
    }

    40% {

        color: #6ed9f0;
    }

    50% {

        color: #7fe5ff;
    }

    60% {

        color: #8feaff;
    }

    70% {

        color: #9fefff;
    }

    80% {

        color: #a3f5ff;
    }

    90% {

        color: #b0f9ff;
    }
}




.version {
    font-size: 1.25rem;
    color: #a0aec0;
    /* Cinza suave */
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

video {
    width: 90%;
    border-radius: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideThrough {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}