@import url('./sidebar.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Nunito:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #1e293b;
    /* Define um fundo escuro consistente */
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 290px;
    max-width: 100%;
    justify-content: center;
    padding: 20px;
    /* Adicionado um padding leve */
    border-radius: 15px;
    background-color: #1e293b;
    /* Mesmo fundo do sidebar */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;
}



.title {
    font-size: 4rem;
    font-weight: 800;
    color: #e2e8f0;
    /* Cor base neutra */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    /* Espaçamento inferior */
    margin-top: 50px;
    /* Espaçamento superior */
    letter-spacing: 1.5px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 10px;

}

.title span {
    display: inline-block;
    animation: waveGlow 5s linear infinite;
    animation-delay: calc(var(--i) * 0.3s);
}

@keyframes waveGlow {
    0% {
        opacity: 0.3;
        text-shadow: 0px 0px 5px cyan;
    }
    25% {
        opacity: 0.7;
        text-shadow: 0px 0px 15px cyan;
    }
    50% {
        opacity: 1;
        text-shadow: 0px 0px 40px cyan, 0px 0px 80px cyan;
    }
    75% {
        opacity: 0.7;
        text-shadow: 0px 0px 15px cyan;
    }
    100% {
        opacity: 0.3;
        text-shadow: 0px 0px 5px cyan;
    }
}

.video-container {
    margin-bottom: 20px;
    /* Espaçamento entre os vídeos */
}

.video-card {
    border-radius: 0;
    /* Remove a borda arredondada do vídeo */
    box-shadow: none;
    /* Remove a sombra */
    background: none;
    /* Remove o fundo de card */
}


@keyframes backgroundAnimation {
    0% {
        background-color: #4e46e507;
    }

    25% {
        background-color: #38bff817;
    }

    50% {
        background-color: #1e40af12;
    }

    75% {
        background-color: #38bff80f;
    }

    100% {
        background-color: #4e46e50e;
    }
}

@media (max-width: 768px) {
    body{
        display: flex;
        height: auto;
        overflow-y: auto;
    }
    .content {
        max-width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        height: auto;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
    }

    .content section {
        top: 100px;
    }

    .version {
        display: none;
    }

    video {
        width: 80% !important;
        border-radius: 10px;
    }
    .title{
        font-size: 2rem;
    }
}

@keyframes colorChange {

    0%,
    100% {
        color: #e2e8f0;

    }

    10% {

        color: #38bdf8;
    }

    20% {

        color: #48b1f3;
    }

    30% {

        color: #5ac7e5;
    }

    40% {

        color: #6ed9f0;
    }

    50% {

        color: #7fe5ff;
    }

    60% {

        color: #8feaff;
    }

    70% {

        color: #9fefff;
    }

    80% {

        color: #a3f5ff;
    }

    90% {

        color: #b0f9ff;
    }
}



.version {
    position: relative;
    display: inline-block; /* Para garantir que o ponto de luz se posicione em relação à div */
    padding: 10px;
    overflow: hidden; /* Evita que o ponto de luz ultrapasse a área da div */
    border-radius: 10%;
}

.version.light::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Torna o ponto de luz circular */
    background-color: cyan; /* Cor do ponto de luz */
    box-shadow: 0 0 30px 10px cyan; /* Cria um efeito de brilho */
    animation: rotateLight 5s linear infinite; /* Animação contínua */
}

@keyframes rotateLight {
    0% {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    25% {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
    50% {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    75% {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


video {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideThrough {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}